<lib-mat-lazy-list>
  <button mat-button #matCardLazyListScrollUp>Go Up</button>

  <mat-card libLazyCard>
    <mat-card-header>Card 1</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

  <mat-card libLazyCard>
    <mat-card-header>Card 2</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

  <mat-card libLazyCard>
    <mat-card-header>Card 3</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

  <mat-card libLazyCard>
    <mat-card-header>Card 4</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

  <mat-card libLazyCard>
    <mat-card-header>Card 5</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

  <mat-card libLazyCard>
    <mat-card-header>Card 6</mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
    <mat-card-content><p>...</p>
    </mat-card-content>
    <!-- ... -->
  </mat-card>

</lib-mat-lazy-list>
